<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-bg-dark mt-2" style="max-width: 18rem;">
                <div class="card-header">Header <i class="fa-solid fa-xs fa-x text-danger"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-dark btn-outline-light">
                        show <i class="fa-solid fa-book-open-reader"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-dark mt-2" style="max-width: 18rem;">
                <div class="card-header">Header <i class="text-success fa-xs fa-solid fa-check"></i></div>
                <div class="card-body">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>